<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace务必和接口的全类名一样 -->
<mapper namespace="com.mmm.dao.CountryDao"><!--必须是对应的dao接口的全类名-->
    <!-- id务必和接口中的方法名称对应
        如果参数是一个对象，那么sql语句中#{对象的属性名}就可以获取值
        在核心中${}获取
        因为在核心文件中配置了别名，所以这块的类名不用写完整限定名
        如果没有在核心文件中配置别名，必须是完整限定名，除了java.lang包下的
     -->

    <!--01 根据国家的编号  查询出 国家的信息  xxx就是用户输入的值
      只有一条sql语句 不可能实现延迟加载
    -->
    <select id="selectContryById" resultMap="countryMap">
        SELECT * FROM  country c,provincial p
        WHERE c.`cid`=p.`countryid`
        AND c.`cid`=#{xxx}

    </select>
    <!--对应的countryMap  这种方式 不推荐使用  因为无法使用延迟加载-->
    <resultMap id="countryMap" type="Country">
        <id property="cId" column="cid"/>
        <result property="cName" column="cname"/>
        <!--一个国家对应多个省会  省会是一个set类型的集合
           只要是集合 在resultMap中就使用 collection节点来绑定集合
           ofType 集合中存放元素的 类型-->
        <collection property="provincials" ofType="Provincial">
            <id property="pId" column="pid"/>
            <result property="pName" column="pname"/>
        </collection>
    </resultMap>



</mapper>